<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nao20010128nao.MC_PE.SkinChanger"
    android:versionCode="20"
    android:versionName="0.4.1" >
    <uses-sdk 
        android:minSdkVersion="8" 
        android:targetSdkVersion="21" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
		android:name="com.nao20010128nao.MCPE.SC.RunOnceApplication">
        <activity
            android:label="@string/app_name"
            android:name="com.nao20010128nao.MCPE.SC.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity
			android:label="@string/checking"
			android:name="com.nao20010128nao.MCPE.SC.SplashActivity"
			android:exported="false"
			android:theme="@style/AppTheme.NoTitle" >
        </activity>
		<activity
            android:label="@string/changing"
			android:name="com.nao20010128nao.MCPE.SC.ModificateActivity"
			android:exported="false"
			android:theme="@style/AppDialog"
			android:launchMode="singleInstance">
        </activity>
		<service
			android:label="@string/app_name"
			android:name="com.nao20010128nao.MCPE.SC.ModificationService"
			android:exported="false">
		</service>
		<activity
			android:label="@string/chgList"
			android:name="com.nao20010128nao.MCPE.SC.ChangingListEditor"
			android:exported="false">
        </activity>
		<activity
			android:label="@string/wait"
			android:name="com.nao20010128nao.MCPE.SC.ContentFileLocalCopyActivity"
			android:theme="@style/AppDialog"
			android:exported="false">
        </activity>
		<activity
			android:label="@string/plugins"
			android:name="com.nao20010128nao.MCPE.SC.plugin.PluginLauncher"
			android:exported="false">
        </activity>
		<activity
			android:label="@string/openSourceLic"
			android:name="com.nao20010128nao.MCPE.SC.OpenSourceLicense"
			android:exported="false">
        </activity>
		<activity
			android:label="@string/appIndfo"
			android:name="com.nao20010128nao.MCPE.SC.AppInfoActivity"
			android:exported="false">
        </activity>
    </application>
</manifest>

